@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  --color-spicy-paprika-50: #fcede8;
  --color-spicy-paprika-100: #f9dbd2;
  --color-spicy-paprika-200: #f3b7a5;
  --color-spicy-paprika-300: #ed9378;
  --color-spicy-paprika-400: #e86f4a;
  --color-spicy-paprika-500: #e24b1d;
  --color-spicy-paprika-600: #b53c17;
  --color-spicy-paprika-700: #872d12;
  --color-spicy-paprika-800: #5a1e0c;
  --color-spicy-paprika-900: #2d0f06;
  --color-spicy-paprika-950: #200b04;

  --color-canary-yellow-50: #fcfde7;
  --color-canary-yellow-100: #fafccf;
  --color-canary-yellow-200: #f4f99f;
  --color-canary-yellow-300: #eff66f;
  --color-canary-yellow-400: #eaf33f;
  --color-canary-yellow-500: #e4f00f;
  --color-canary-yellow-600: #b7c00c;
  --color-canary-yellow-700: #899009;
  --color-canary-yellow-800: #5b6006;
  --color-canary-yellow-900: #2e3003;
  --color-canary-yellow-950: #202202;

  --color-honeydew-50: #f1f9ec;
  --color-honeydew-100: #e4f2d9;
  --color-honeydew-200: #c9e6b3;
  --color-honeydew-300: #add98c;
  --color-honeydew-400: #92cc66;
  --color-honeydew-500: #77bf40;
  --color-honeydew-600: #5f9933;
  --color-honeydew-700: #477326;
  --color-honeydew-800: #304d19;
  --color-honeydew-900: #18260d;
  --color-honeydew-950: #111b09;

  --color-muted-olive-50: #f3f7ee;
  --color-muted-olive-100: #e6efdc;
  --color-muted-olive-200: #cddeba;
  --color-muted-olive-300: #b4ce97;
  --color-muted-olive-400: #9bbe74;
  --color-muted-olive-500: #83ad52;
  --color-muted-olive-600: #688b41;
  --color-muted-olive-700: #4e6831;
  --color-muted-olive-800: #344521;
  --color-muted-olive-900: #1a2310;
  --color-muted-olive-950: #12180b;

  --color-palm-leaf-50: #f5f5ef;
  --color-palm-leaf-100: #ebebe0;
  --color-palm-leaf-200: #d8d7c0;
  --color-palm-leaf-300: #c4c4a1;
  --color-palm-leaf-400: #b0b082;
  --color-palm-leaf-500: #9d9c62;
  --color-palm-leaf-600: #7d7d4f;
  --color-palm-leaf-700: #5e5e3b;
  --color-palm-leaf-800: #3f3e27;
  --color-palm-leaf-900: #1f1f14;
  --color-palm-leaf-950: #16160e;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
